In [1]:
print("ok")

ok

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [3]:
import os
data_path="../data/converted_dataset"
for files in os.listdir(data_path):
    filepath= os.path.join(data_path, files)
    print(filepath)

../data/converted_dataset\hau_test.csv
../data/converted_dataset\ibo_test.csv
../data/converted_dataset\pcm_test.csv
../data/converted_dataset\yor_test.csv

In [4]:
#let's first do some exploratory data analysis
hausa_data=pd.read_csv("../data/converted_dataset/hau_test.csv")
hausa_data.head()

                                               tweet     label
0  ah su rahama za axha madara sa lemu fah mudai ...  positive
1                             tohh allah shi taimaka  positive
2  allah ubangiji yakara maka lapia da tsawon ray...  positive
3  wannan shine gaskiyar lamari domin siyasar nig...  positive
4  alhamdulillah allah tabbatar dan isar maulatii...  positive

In [5]:
hausa_data["label"].value_counts()

label
neutral     1789
negative    1759
positive    1755
Name: count, dtype: int64

In [7]:
hausa_data=hausa_data[~hausa_data["label"].isin(["negative","neutral"])]

In [8]:
hausa_data["label"].value_counts()

label
positive    1755
Name: count, dtype: int64

In [9]:
#let's check for yoruba data too
yoruba_data=pd.read_csv("../data/converted_dataset/yor_test.csv")
yoruba_data.head()

                                               tweet     label
0          mo kí àrẹ wa alàgbà kú àbọ̀ o toò iṣẹ́ yá  positive
1               tọ̀tún tòsì ni ẹyẹlé fi nkó ire wọlé  positive
2  sá fún iṣẹ́ abẹ yẹra fún oògùn òyìnbó lo egbòg...  positive
3  òwú kì í là kí inú ó bólóko ǹjẹ́ lónìí tí í ṣe...  positive
4             beeni oo ko si iro mbe ọmọ ni afẹ́ ayé  positive

In [10]:
yoruba_data["label"].value_counts()

label
positive    1918
neutral     1616
negative     981
Name: count, dtype: int64

In [11]:
#now let's remove all the neutral and negative labels from all the language datasets so that we can only get only positive data
files_path=[
"../data/converted_dataset/hau_test.csv",
"../data/converted_dataset/ibo_test.csv",
"../data/converted_dataset/pcm_test.csv",
"../data/converted_dataset/yor_test.csv"
]
def remove_neutral_negative_labels(file_path):
  for file in files_path:
    df=pd.read_csv(file)
    df=df[~df["label"].isin(["negative","neutral"])]
    df.to_csv(file,index=False)
remove_neutral_negative_labels(files_path)

In [12]:
yoruba_data=pd.read_csv("../data/converted_dataset/yor_test.csv")
yoruba_data["label"].value_counts()

label
positive    1918
Name: count, dtype: int64

In [14]:
#now let's convert each label to numerical values base on their file name
os.makedirs("../data/new_dataset",exist_ok=True)
new_file_path=[
"../data/new_dataset/hau_test.csv",
"../data/new_dataset/ibo_test.csv",
"../data/new_dataset/pcm_test.csv",
"../data/new_dataset/yor_test.csv"
]
old_file_path=[
  "../data/converted_dataset/hau_test.csv",
"../data/converted_dataset/ibo_test.csv",
"../data/converted_dataset/pcm_test.csv",
"../data/converted_dataset/yor_test.csv"
]

def label_encoding(old_file_path,new_file_path):
  count=0
  for old_file,new_file in zip(old_file_path,new_file_path):
    df=pd.read_csv(old_file)
    df["label"]=df["label"].replace({"positive":count})
    df.to_csv(new_file,index=False)
    count+=1
label_encoding(old_file_path,new_file_path)

C:\Users\PC\AppData\Local\Temp\ipykernel_11140\3774494678.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["label"]=df["label"].replace({"positive":count})
C:\Users\PC\AppData\Local\Temp\ipykernel_11140\3774494678.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["label"]=df["label"].replace({"positive":count})
C:\Users\PC\AppData\Local\Temp\ipykernel_11140\3774494678.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["label"]=df["label"].replace({"positive":count})
C:\Users\PC\AppData\Local\Temp\ipykernel_11140\3774494678.py:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["label"]=df["label"].replace({"positive":count})

In [18]:
test_df=pd.read_csv("../data/new_dataset/yor_test.csv")
test_df["label"].value_counts()

label
3    1918
Name: count, dtype: int64

In [22]:
#good job so far now let's convert the dataset into one large csv file
import pandas as pd

def combine_datasets(files_path, output_file):
    dfs = []  # store all dataframes here

    for file in files_path:
        df = pd.read_csv(file)
        dfs.append(df)

    # Combine into one big dataframe
    combined = pd.concat(dfs, ignore_index=True)

    # Save to CSV
    combined.to_csv(output_file, index=False)


combine_datasets(new_file_path, "../data/new_dataset/combined_data.csv")

In [23]:
combine_datasets=pd.read_csv("../data/new_dataset/combined_data.csv")
combine_datasets.head()

                                               tweet  label
0  ah su rahama za axha madara sa lemu fah mudai ...      0
1                             tohh allah shi taimaka      0
2  allah ubangiji yakara maka lapia da tsawon ray...      0
3  wannan shine gaskiyar lamari domin siyasar nig...      0
4  alhamdulillah allah tabbatar dan isar maulatii...      0

In [24]:
print(combine_datasets["label"].value_counts())

label
3    1918
0    1755
2    1397
1    1118
Name: count, dtype: int64